CONTAINER_NAME=p2p-aluno1
PEER_NAME=aluno1
HTTP_PORT=8000
P2P_PORT=7000
P2P_ADVERTISE_HOST=100.70.29.126
BOOTSTRAP_PEERS=100.70.29.126:7000
MAX_CONNECTIONS=20
MESSAGE_RATE_LIMIT=8
RATE_LIMIT_WINDOW_SECONDS=10
