CONTAINER_NAME=p2p-aluno1
PEER_NAME=aluno1
HTTP_PORT=8000
P2P_PORT=7000
P2P_ADVERTISE_HOST=SEU_IP_LOCAL
P2P_ADVERTISE_PORT=7000
BOOTSTRAP_PEERS=10.47.6.142:7000
MAX_CONNECTIONS=50
MESSAGE_RATE_LIMIT=8
RATE_LIMIT_WINDOW_SECONDS=10
